.dropdowns {
  font-family: 'Alexandria';
  color: rgb(242,242,255);
  font-size: 11px;
}

.leftcol {
  width: 20%;
  padding: 10px;
  margin-right: 12px;
}

.rightcol {
  padding: 20px;
  width: calc(80% - 12px);
}

@media (max-width: 650px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .leftcol {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .rightcol {
    width: 100%;
    margin: 0;
  }
}

