.gallerylist {
  font-family: 'Alexandria';
  color: rgb(242,242,255);
  font-size: 14px;
  word-wrap: break-word;
}

.link {
  color: aqua;
}

.dropdowns {
  font-family: 'Alexandria';
  color: rgb(242,242,255);
  font-size: 11px;
}

.leftcol {
  width: 20%;
  padding: 10px;
  margin-right: 12px;
}

.rightcol {
  padding: 20px;
  width: calc(80% - 12px);
}

@media (max-width: 650px) {
  .row {
    flex-direction: column;
    width: 350;
  }
}

@media (max-width: 650px) {
  .leftcol {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .rightcol {
    width: 100%;
    margin: 0;
  }
}

/* links.html */

.link-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 33.3%;
}

.link-column {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: calc(100% - 44px);
  margin-left: 22px;
}

@media (max-width: 1000px) {
  .link-column {
    flex-direction: column;
    height: 150px;
  }
}

@media (max-width: 1000px) {
  .link-row {
    width: 100%;
    margin-bottom: 10px;
  }
}

.ofcontain {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 650px) {
  .container {
    padding: 0;
    margin: 0;
  }
}

#carousel-1 {
  height: 500px;
  width: 80%;
}

@media (max-width: 650px) {
  #carousel-1 {
    height: 280px;
  }
}

